@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

/* 
Dark Green --> #008080;
Light Green --> #B6DADA;
Green --> #239C7B; */


/* UTILITIES */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #008080;
    color: #fff;
}

.nav-links a {
    color: #B6DADA;
}

/* LOGO */
.logo {
    font-size: 32px;
    cursor: pointer;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 25px;
}

.menu li:hover {
    background-color: #239C7B;
    transition: 0.3s ease;
}

.menu li {
    padding: 20px
}

/*SHOPPING CART LOGO*/
img#cart {
    height: auto;
    width: 50px;
    border-radius: 0%;
    padding: 5px;
}

/*CHIFFRE SHOPPING CART*/
.cartCount {
    position: absolute;
    top: 20px;
    width: 6px;
    height: 4px;
    z-index: 3;
    font-size: 25px;
    margin-left: 3px;
    color: rgb(252, 252, 6);
    border:0;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #008080;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top: 35px;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #239C7B;
        transition: 0.3s ease;
    }


    .menu li+li {
        margin-top: 12px;
    }

    img#cart {
        height: auto;
        width: 50px;
        border-radius: 0%;
        padding: 10px;
    }

    .cartCount {
        position: absolute;
        top: 240px;
        width: 60px;
        height: 4px;
        z-index: 1;
        font-size: 18px;
        right: 0;
        left: 345px;
        color: rgb(252, 252, 6);
        border: 0;
    }


    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media (max-width: 400px){
    .cartCount {
        position: absolute;
        top: 240px;
        width: 60px;
        height: 4px;
        z-index: 1;
        font-size: 18px;
        right: 0;
        left: 150px;
        color: rgb(252, 252, 6);
        border: 0;
    }
}

.mode {
    cursor: pointer;
    font-family: 'Baloo 2', cursive;
    background: #008080;
    display: flex;
    gap: 1em;
    font-size: 25px;
}

div#card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

div#filterDiv {
    width: 95%;
    text-align: center;
    text-decoration: double;
    padding: 10px;
    font-family: 'Baloo 2', cursive;
    border-radius: 25px;
    background-color: #008080;
    margin: 20px auto;
}

figure {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #239C7B;
    color: #B6DADA;
    align-items: center;
    width: 30%;
    height: 25%;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    border: solid 5px #008080;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

figure>img {
    align-items: first baseline;
}

h1.logo {
    font-size: 40px;
    width: fit-content;
    padding: 10px;
    font-family: 'Baloo 2', cursive;
    border-radius: 25px;
    background-color:#B6DADA ;
    color: #008080;

}

h2 {
    width: 100%;
    text-align: center;
    text-decoration: double;
    padding: 10px;
    font-family: 'Baloo 2', cursive;
    border-radius: 25px;
    background-color: #008080;
}

div.price {
    width: fit-content;
    text-align: center;
    padding: 25px;
    font-family: 'Baloo 2', cursive;
    border-radius:25px;
    color:#B6DADA;
    background-color:#008080;
    margin: 50px auto;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

h3, p {
    font-size: smaller;
    font-family: 'Baloo 2', cursive;
    width: 45%;
    border: solid 4px #008080;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin: 5px;
}

div#clickables {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

input {
    width:100%;
    margin: 10px 10px 10px 10px;
}

div#clickables > p {
    font-size: x-small;
    font-family: 'Baloo 2', cursive;
    width: fit-content;
    border: solid 4px #B6DADA;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin: 5px;
}

div#clickables > p:hover {
    transition: 0.5s;
    font-size: small;
    font-family: 'Baloo 2', cursive;
    width: fit-content;
    border: solid 4px #B6DADA;
    background-color: #B6DADA;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin: 5px;
}

div #clickables > p:active {
    text-decoration: underline;
}

div.RmvFromCart {
    font-size: smaller;
    font-family: 'Baloo 2', cursive;
    width:45%;
    border:solid 4px #008080;
    border-radius:25px;
    padding: 10px;
    text-align: center;
    margin: 5px;
}

div.RmvFromCart:hover {
    font-size: smaller;
    font-family: 'Baloo 2', cursive;
    width:45%;
    color: #008080;
    border:solid 4px #008080;
    background-color:#B6DADA;
    border-radius:25px;
    padding: 10px;
    text-align: center;
    margin: 5px;
}

div.RmvFromCart:active {
    font-size: smaller;
    text-decoration: underline;
    font-family: 'Baloo 2', cursive;
    width:45%;
    color: #008080;
    border:solid 4px #008080;
    background-color:#B6DADA;
    border-radius:25px;
    padding: 10px;
    text-align: center;
    margin: 5px;

}

h4 {
    width: 100%;
    font-weight: bolder;
    font-size: xx-large;
    text-align: right;
    text-align: center;
}

.AddToCart {
    font-weight: 900;
    color: #008080;
    background-color: #B6DADA;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 90%;
    margin: 10px;
}

.AddToCart:hover {
    color: #B6DADA;
    background-color: #008080;
}

.AddToCart:active {
    text-decoration: underline;
}

#filterSpan {
    color:#B6DADA;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    font-size: smaller;
    padding: 10px;
    background-color: #008080;
    border-radius: 25px;
    margin: 5px;
    font-family: 'Baloo 2', cursive;
    
}

#cart {
    width: auto;
    height: auto;
}

img {
    width: 100%;
    height: 200px;
    border-radius: 25px;
}

figure>h2,
figure>h3 {
    text-align: center;
}

p .add-to-cart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}